<p id="notice"><%= notice %></p>

<p>
  <strong>Ma sach:</strong>
  <%= @theloaisach.ma_sach %>
</p>

<p>
  <strong>Ten sach:</strong>
  <%= @theloaisach.ten_sach %>
</p>

<p>
  <strong>Mtg:</strong>
  <%= @theloaisach.mtg %>
</p>

<p>
  <strong>Mtl:</strong>
  <%= @theloaisach.mtl %>
</p>

<p>
  <strong>Manxb:</strong>
  <%= @theloaisach.maNXB %>
</p>

<p>
  <strong>Nxb:</strong>
  <%= @theloaisach.nxb %>
</p>

<%= link_to 'Edit', edit_theloaisach_path(@theloaisach) %> |
<%= link_to 'Back', theloaisaches_path %>
