<p id="notice"><%= notice %></p>

<p>
  <strong>Ma tacgia:</strong>
  <%= @tacgium.ma_tacgia %>
</p>

<p>
  <strong>Ten tacgia:</strong>
  <%= @tacgium.ten_tacgia %>
</p>

<p>
  <strong>Website:</strong>
  <%= @tacgium.website %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @tacgium.ghichu %>
</p>

<%= link_to 'Edit', edit_tacgium_path(@tacgium) %> |
<%= link_to 'Back', tacgia_path %>
