<p id="notice"><%= notice %></p>

<p>
  <strong>Matheloai:</strong>
  <%= @tl_sach.matheloai %>
</p>

<p>
  <strong>Tentheloai:</strong>
  <%= @tl_sach.tentheloai %>
</p>

<%= link_to 'Edit', edit_tl_sach_path(@tl_sach) %> |
<%= link_to 'Back', tl_saches_path %>
