<p id="notice"><%= notice %></p>

<p>
  <strong>Ma tacgia:</strong>
  <%= @sach23.ma_tacgia %>
</p>

<p>
  <strong>Ten tacgia:</strong>
  <%= @sach23.ten_tacgia %>
</p>

<p>
  <strong>Website:</strong>
  <%= @sach23.website %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @sach23.ghichu %>
</p>

<%= link_to 'Edit', edit_sach23_path(@sach23) %> |
<%= link_to 'Back', sach23s_path %>
